<div class="authBlock">
    <h1 class="hd">Init Password</h1>

    <p class="text-center" style="margin-top: 2em">Please enter the user's email address to request a password reset</p>

    <div class="aze">
      <input type="email" style="margin-top: 1em" class="formControl" placeholder="Email Address" #passwordResetEmail required>
    </div>

    <!-- ForgotPassword AuthService Api -->
    <div class="formGroup">
      <input id="bt" style="margin-top: 3em" type="submit" class="btn btn-sm btn-success mb-2" value="Reset Password" (click)="userService.ForgotPassword(passwordResetEmail.value)" >
    </div>
</div>