<h4 class="name">Workspace : Operation</h4>


<mat-divider></mat-divider>


<mat-nav-list dense>
    <mat-list-item routerLink="add"><mat-icon>person_add</mat-icon><span class="operation">Create User</span></mat-list-item>
    <mat-list-item routerLink="password"><mat-icon>password</mat-icon><span class="operation">Init Password</span></mat-list-item>
    <mat-list-item routerLink="users"><mat-icon>badge</mat-icon><span class="operation">User management</span></mat-list-item>
    <!--<mat-list-item><mat-icon>lock_open</mat-icon><span class="operation">Unblock User</span></mat-list-item>-->
</mat-nav-list>


<mat-divider></mat-divider>


<button mat-button class="menu-button" routerLink="about">
    <mat-icon>info</mat-icon>
    <span class="operation">About</span>
</button>